* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

nav, header, section {
    padding: 20px;
}

header, section {
    height: 200px;
}

.contact {
    height: auto;
}

nav {
    background-color: grey;
}

section {
    background-color: #C0C0C0;
}

section:nth-child(even) {
    background-color: #ddd;
}