* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.nav {
    background-color: #D8E8E9;
    padding: 1rem;
    color: #2D848A;
}

.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 16px;
}

.hero {
    color: #2D848A;   
    padding: 6rem 0; 
}

.hero__header {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.hero__header--big {
    font-size: 2rem;
}

.section {
    padding: 6rem 1rem;
}

.section__header {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.section__content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.section--background-blue {
    background-color: #2D848A;
    color: #FFF;
}

.section--color-inverse {
    color: #2D848A;
    background-color: #FFF;
}

.quiz-app-img {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.contact {
    background-color: #D8E8E9;    
    color: #2D848A;
    padding: 1rem;
}

.contact__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 1rem;
}

@media screen and (min-width: 600px) {

}
