* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.nav {
    background-color: #D8E8E9;
    padding: 1rem;
    color: #2D848A;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    margin: 0;
    height: 27px;
}

.nav__hamburger-icon {
    height: 27px;
}

.nav__hamburger-icon-line {
    width: 25px;
    height: 1px;
    background-color: #2D848A;
    margin: 6px 0;
}

.nav__list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0 16px;
}

.nav__list-container {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 0px;
}

.display-nav-links {
    display: block;
}

.hero {
    color: #2D848A;   
    padding: 6rem 0; 
    margin-top: -59px;
}

.hero__header {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.hero__header--big {
    font-size: 2rem;
}

.section {
    padding: 6rem 1rem;
}

.section__header {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.header-small {
    font-weight: 300;
}

.hello {
    font-weight: 300;
    font-size: 1.5rem;
}

.profile-img {
    height: 200px;
    width: 200px;
    margin-top: 2rem;
}

.section__content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.section--background-blue {
    background-color: #2D848A;
    color: #FFF;
}

.section--color-inverse {
    color: #2D848A;
    background-color: #FFF;
}

.quiz-app-img {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.project-links {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}

.contacts {
    background-color: #D8E8E9;    
    color: #2D848A;
    padding: 1rem;
    height: 600px;
}

.contacts__list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 6rem 0 0 0;
    padding: 0 1rem;
}

.contact-header {
    font-size: 2rem;
}

.icon {
    margin-right: 5px;
}

.links {
    color: #2D848A;
    text-decoration: none;
}

.fa {
    font-size: 2rem;
}

a:hover {
    cursor: pointer;
    color: rgb(31, 89, 94);
}

@media screen and (min-width: 800px) {
    .nav__list {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1px;
        margin: 0;
        padding: 0;
    }    

    .nav__list-item {
        margin-left: 1rem;
    }

    .nav__hamburger-icon {
        display: none;
    }

    .section__content {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .section__content {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}